@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>All-in-One Golf app</h1>
    <p class="lead">Golf Finder is here to be your golfing companion. Keep track of your scores, rate your courses, and locate golf courses around the world!</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add a course to your list!</h2>
        <p>
            Click below to add a course to your list! 
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Courses", "Create", "Course")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rate a course!</h2>
        <p>Click below to rate a course on its cleanliness, layout, dificulty, and amenities!</p>
        <p><a class="btn btn-default" @Html.ActionLink("Courses", "Create", "Rating")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Score Sheet!</h2>
        <p>Click below to create a score card! It will calculate your total strokes and how much you go over/under par!</p>
        <p><a class="btn btn-default" @Html.ActionLink("Score Sheet", "Create", "Score")</a></p>
    </div>
</div>